body {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Abril Fatface', cursive;
}
input {
    border: none;
}

#container {
    width: 75%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

#firstResult, #operator, #secondResult, #finalResult {
    height: 10rem;
    font-size: 1.5rem;
    border: none;
}

.finalResult {
    color: yellow;
}

#operator {
    padding-top: 4rem;
}

#firstLign, #secondLign, #thirdLign, #fourthLign, #fiveLign{
    height: 5rem;
}

.total {
    margin: 0;
    padding: 0;
}

#cancel {
    color: white;
    background-color: salmon;
}